**
!Dockerfile
!cmd/
!cmd/**
!internal/
!internal/**
!migrations/
!migrations/**
!go.mod
!go.sum
!docker-entrypoint.sh
!scripts/
!scripts/sync-contract-catalog.sh
!scripts/sync-settlement-catalog.sh
!scripts/sync-project-catalog.sh
!scripts/license-core-sync.sh
!scripts/license-core.sha256
!third_party/
!third_party/license-core/
!third_party/license-core/go.mod
!third_party/license-core/clock.go
!third_party/license-core/diff.go
!third_party/license-core/license.go
!third_party/license-core/recovery.go
!third_party/license-core/runtime/
!third_party/license-core/runtime/lock_unix.go
!third_party/license-core/runtime/snapshot.go
!third_party/license-core/runtime/state.go
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.p12
**/*.jks
**/*.bak
**/*.backup
**/*.dump
**/dump*.sql
**/.DS_Store
